.main {
  max-width: 1140px;     
  margin: 0 auto;          
  padding: 20px;
  font-family: 'Arial', sans-serif;
  
}


.banner {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
}


.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}