.main {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.banner {
  width: 100%;
  object-fit: cover;
  margin-top: -28px;
  margin-bottom: 72px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 37px;
  margin-bottom: 45px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 386px));
  justify-content: center;
  column-gap: 130px;
  row-gap: 90px;
  margin-bottom: 172px;
}
